:root {
  --main-color: var(#212121);
  --main-font: var("Roboto", sans-serift);
  --color-accent: var(#2196f3);
  --primary-white-color: var(#FFFFFF);
  --border-heder-color: var(#ececec);
  --title-text-collor: #757575;
  --active-button-color: #188CE8;
  --title-main-color: #2F303A;
  --color-icon: #afb1af;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --section-color: #F5F4FA;
}