.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
&-container {
  align-items: baseline;
}
}
.flex-block {
  display: flex;
  align-items: baseline;
}

element.style {
  display: flex;
}

.footer-link {
  margin-bottom: 9px;
}

.adress-link {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list:focus,
.adress-link:hover {
  color: #188ce1;
}

.footer-mail {
  font-family:"Rooto",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: #188ce1;
}
}

.footer-tel {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
  color: #188ce1;
}
}
.social {
  margin-left: 70px;
  box-sizing: border-box;
  &-title {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
}
.footer-icon {
  display: flex;
  gap: 10px;
}

.title-icon {
  display: flex;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
  background-color: #188ce1;
}
}
.social-icon {
  display: flex;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background-size: contain;
  align-items: center;
  justify-content: center;

  & {
  fill: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
.footer-email {
  margin-left: auto;
}

.btn-icon {
  display: flex;
}

.email-title {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  gap: 12px;
}

.form-email {
  padding: 15px 16px;
  width: 358px;
  background-color: inherit;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  gap: 12px;

&:focus,
&:hover {
  border-color: #2196f3;
}
}

.footer-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border-radius: 4px;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-left: 12px;
}

.footer-icons {
  fill: #FFFFFF;
}